@media screen and (max-width:576px){
 header{
     display: block;
 }
 .container{
   width: 100%;
   overflow: hidden;
 }
 nav , .menu{
   display: block;
 }
 .css{
   display: grid;
   place-items: center;
 }
  .menu li{
      text-align: center;
      padding: 10px;
  }
  .menu li a{
    font-size: larger
  }
  .menu li a:hover{
    border-bottom: 5px solid blue;
    padding-bottom: 5px;
  }
  .pics{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .pics a{
    padding: 0 10px;
  }
  .block{
    padding: 50px 0;
  }
  .block .title1{
    font-size: 50px;
  }
  .block .text1{
    font-size: 15px;
    word-spacing: 0;
    letter-spacing: 0;
  }
  .block .text2{
    margin: 50px 0 30px;
  }
  .block a i{
     padding: 5px;
        }
  .sect{
    padding: 40px 0;
  }
  .theme1{
    text-align: center;
    padding: 30px 0;
    font-size: larger;
  }
   .theme1::before{
     content: none;
   }
 
  .box{
    width: 100%;
    float: none;
    margin: 0;
  }
  .box a i{
    padding: 15px;
  }
  .blog{
    width: 100%;
    display: block;
    height: 100%;
  }
  .blog:nth-child(1){
    padding: 70px 10px;
}
.blog:nth-child(4){
    padding: 70px 10px;
}
.box3 .theme2 , .box3 .theme3{
  font-weight: 400;
  font-size: 50px;
  padding: 30px 0;
}
.box3 .theme2::before{
 content: none;
}
.box3 .paragraph{
  padding: 20px 0;
  font-family: 'montserratlight';
  font-size: 20px;
}
 .box2{
   width: 100%;
   display: block;
   margin: 30px 0px; 
 }
 .section4{
   padding: 50px 0;
 }
 .section4 .mainbox{
   width: 100%;
   display: block;
 }
 .minibox p{
  margin: 0;  
}
 .section5{
  padding: 50px 0;
 } 
 .bing{
   display: block;
 }
 .bong{
   margin: 20px 5px;
 }
 .bong p{
   padding: 0;
    margin: 30px 0;
 }
 .bong .text3 , .text4 , .text5{
 padding: 5px; 
  margin: 30px 0;
  width: 100%;
  font-size: 15px;
 }
 .bong1{
   display: flex;
   justify-content: center;
   align-items: center;
 }
 .section6 .theme3::before{
  content: none;
}
.box2 img{
  width: 80%;
}

.section7 h1::before{
  content: none;
}
 .about{
   display: block;
   padding: 10px ;
 }
 input{
   margin: 5px;
   width: calc(100% / 3 - 10px);
 }
 textarea{
   width: 96%;
   margin: 5px;
 }
}

@media (min-width:577px) and (max-width:992px){
    
  header{
    display: block;
}
.container{
  width: 95%;
}
nav , .menu {
 display: grid;
  place-items: center;
}

 .menu li{
   padding: 20px ;
 }
 .menu li a{
   font-size: x-large;
 }
 .menu li a:hover{
  border-bottom: 5px solid blue;
  padding-bottom: 3px;
}
.pics a{
  padding: 30px ;
}
.pics  a img{ 
  width: 30px;
}
.block{
  padding: 100px 0;
}
.block .title1{
  font-size: 90px;
}
.block .text2{
  margin: 50px auto;
}
.theme1{
  font-size: 25px;
}
.theme1::before{
  font-size: 130px;
  position: relative;
  top: 2px;
  left: 250px;
}
.box{
  width: calc(100% / 2 - 20px);
}
.blog{
  height: 400px;
}
.blog:nth-child(1){
  color: white;
  padding: 20px 10px;
}
.blog:nth-child(4){
  padding: 20px 10px;
}
.box2{
  width: calc(100% / 2 - 40px );
}
.section4{
  padding: 50px 0;
}
.bing{
  display: block;
}
.bong p{
  padding: 0;
}
.bong1{
  display: grid;
  place-items: center;
}
.theme2::before{
 font-size: 150px;
 position: relative;
 top: 30px;
 left: 200px;
}
.theme3::before{
  font-size: 200px;
  position: relative;
  top: 40px;
  left: 190px;
}
.section7 h1{
  font-size: 19px;
}
.section7 h1::before{
 font-size: 120px;
position: relative;
top: 35px;
left: 230px;
}
}

@media (min-width:993px) and (max-width:1440px){
  .container{
    width: 90%;
  }
  nav , .menu{
    padding: 10px 0;
  }
.menu li a{
  font-size: 20px;
}
.menu li a:hover{
  padding-bottom: 35px;
}
.pics a{
  padding: 10px;
}
.pics a img{
  width: 30px;
}
 .theme1{
   font-size: 35px;
 }
 .theme1::before{
   position: relative;
   top: 5px;
   left: 350px;
   font-size: 150px;
 }
 .box h2{
   font-size: 27px;
 }
 .box p{
   font-size: 20px;
   }
   .blog:nth-child(1){
    padding: 70px 50px;
}
.blog:nth-child(4){
    padding: 70px 50px;
   
}
   .blog p{
     font-size: 20px;
   }
    .paragraph{
     font-size: 30px;
   }
   .box2 h2{
     font-size: 19px;
   }
 .section7 h1{
   font-size: 30px;
 }
 .section7 h1::before{
   font-size: 170px;
   position: relative;
   top: 46px;
   left: 360px;
 }
 .about{
   font-size: 20px;
 }
}
